<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TEST</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Домашняя работа</h1>
      {% csrf_token %}
  <a href="">
    <span>TEXT</span>
  </a>
  <main>
    <div class="card">
      <div class="first">
        <h2>Стирка</h2>
        <?xml version="1.0" encoding="iso-8859-1"?>
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <button>
          <svg fill="#393939" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
           width="18px" height="18px" viewBox="0 0 45.402 45.402" style="opacity: 1"
           xml:space="preserve">
          <g>
          <path d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141
            c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27
            c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435
            c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z"/>
        </g>
          </svg>
        </button>
      </div>
      <ul>
        <li>Постельное белье</li>
        <li>Полотенца</li>
        <li>Домашняя одежда</li>
        <li>Нижнее белье</li>

      </ul>
    </div>
    <div class="card">
      <div class="second">
        <h2>Уборка</h2>
        <?xml version="1.0" encoding="iso-8859-1"?>
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <button type="button">
          <svg fill="#393939" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
             width="18px" height="18px" viewBox="0 0 45.402 45.402" style="opacity: 1"
             xml:space="preserve">
            <g>
              <path d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141
                c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27
                c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435
                c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z"/>
            </g>
          </svg>
        </button>
      </div>
      <ul>
        <li>Порядок в шкафу/комодеk</li>
        <li>Полы в доме</li>
        <li>Пыль в спальне/зале</li>
        <li>Глажка постиранного</li>
      </ul>
    </div>
    <div class="card">
      <div class="third">
        <h2>Разное</h2>
        <?xml version="1.0" encoding="iso-8859-1"?>
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <button type="button">
          <svg fill="#393939" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
             width="18px" height="18px" viewBox="0 0 45.402 45.402" style="opacity: 1"
             xml:space="preserve">
            <g>
              <path d="M41.267,18.557H26.832V4.134C26.832,1.851,24.99,0,22.707,0c-2.283,0-4.124,1.851-4.124,4.135v14.432H4.141
                c-2.283,0-4.139,1.851-4.138,4.135c-0.001,1.141,0.46,2.187,1.207,2.934c0.748,0.749,1.78,1.222,2.92,1.222h14.453V41.27
                c0,1.142,0.453,2.176,1.201,2.922c0.748,0.748,1.777,1.211,2.919,1.211c2.282,0,4.129-1.851,4.129-4.133V26.857h14.435
                c2.283,0,4.134-1.867,4.133-4.15C45.399,20.425,43.548,18.557,41.267,18.557z"/>
            </g>
          </svg>
        </button>
      </div>
      <ul>
        <li>Полив цветов</li>
        <li>Маникюр</li>
        <li>Три</li>
      </ul>
    </div>
  </main>
</body>
</html>